.left-green {
  border-left: 3px solid green !important;
}

.wd-border-solid {
  border-color: gray;
  border-width: 0.5px;
}

.form-control.no-border {
  border: none;
  box-shadow: none;
}

.with-border {
  border: solid;
  border-color: lightgrey;
}

.text-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.card-padding {
  padding: 10px;
}

.assignment_status_pos {
  margin-top: 20px;
}
